.list {
  list-style: circle;
  margin-left: 50px;
}
.item:not(:last-child) {
  margin-bottom: 5px;
}
.link {
  color: blue;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #af5665;
}
.image {
  width: 300px;
  height: auto;
}
