.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.item {
  margin: 0 10px 20px;
  width: 300px;
  height: 473px;
}
/* .item:not(:last-child) {
  margin-bottom: 5px;
} */
.item:nth-child(4n + 4) {
  margin-right: 0;
}
.link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.link:hover {
  text-decoration: underline;
  color: #af5665;
}
.image {
  width: 300px;
  height: auto;
  padding-top: 5px;
}
.div {
  padding: 0 27px;
  /* background-color: #3d3d3d;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../../img/moviesBg.jpg);
  background-attachment: fixed; */
}
