.activeLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: bold;
  color: red;
  font-size: 24px;
}
.activeLink:hover {
  text-decoration: underline;
  color: #af5665;
}
/* .link:focus {
  color: red;
} */

.inactiveLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: bold;
  color: #424242;
  font-size: 24px;
}

.inactiveLink:hover {
  text-decoration: underline;
  color: #af5665;
}
